<h1>Bookings</h1>

<div class="row">
  <div class="col-lg-3">
    <a [routerLink]='["/add-booking"]' class="btn btn-primary">
      Add Booking
    </a>
    
  </div>
</div>
<br /><br />
<div class="row">
  <div class="col-lg-3">
    <label>Filter by Room</label>
    <select [(ngModel)]="selectedRoom" id="roomSelect" name="roomSelectName" class="form-control" (ngModelChange)="onRoomChange($event)">
      <option *ngFor="let room of allRooms" [value]="room.id">{{room.number}}</option>
    </select>
  </div>
</div>



<p *ngIf="!filteredBookings"><em>Loading...</em></p>

<div id="chart" *ngIf="filteredBookings">

  <dx-scheduler [dataSource]="filteredBookings"
                [remoteFiltering]="true"
                [views]='["month"]'
                currentView="month"
                [currentDate]="currentDate"
                [height]="600"
                textExpr="scheduleText"
                startDateExpr="startDateObj"
                endDateExpr="endDateObj"
                allDayExpr="AllDay"
                >
    <dxi-resource fieldExpr="gender"
                  [allowMultiple]="false"
                  [dataSource]="resourcesData"
                  label="Gender"
                  [useColorAsDefault]="true"></dxi-resource>
  </dx-scheduler>

</div>

<table class='table' *ngIf="filteredBookings">
  <thead>
    <tr>
      <th>Room</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Used Places</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of filteredBookings | paginate: { itemsPerPage: 15, currentPage: p }">
      <td>{{ booking.room.number }}</td>
      <td>{{ booking.startDate | date }}</td>
      <td>{{ booking.endDate | date }}</td>
      <td>{{ booking.usedPlaces }}</td>
      <td>{{ booking.gender == 0 ? 'M' : 'F' }}</td>

    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<div class="row">
  <div class="col-lg-3">
    <a [routerLink]='["/add-booking"]' class="btn btn-primary">
      Add Booking
    </a>
  </div>
</div>
