<h1>Bookings</h1>

<div class="row">
  <div class="col-lg-3">
    <a [routerLink]='["/add-booking"]' (click)='collapse()'>
      Add Booking
    </a>
  </div>
</div>

<p *ngIf="!bookings"><em>Loading...</em></p>

<table class='table' *ngIf="bookings">
  <thead>
    <tr>
      <th>Room</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Used Places</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings">
      <td>{{ booking.room.number }}</td>
      <td>{{ booking.startDate | date }}</td>
      <td>{{ booking.endDate | date }}</td>
      <td>{{ booking.usedPlaces }}</td>
      <td>{{ booking.gender }}</td>

    </tr>
  </tbody>
</table>
