<h1>Add Booking</h1>



<p *ngIf="!booking"><em>Loading...</em></p>

<div *ngIf="booking">
  

  <div>
    <!--<label>
      Room:
      <input [(ngModel)]="booking.room" placeholder="Room" />
    </label>

    <label>
      Start Date:
      <input [(ngModel)]="booking.startDate" placeholder="Start Date" />
    </label>-->

    <label>
      Used Places:
      <input [(ngModel)]="booking.usedPlaces" placeholder="Used Places" />
    </label>

  </div>

  <button (click)="addBooking(booking)" >Add</button>

</div>
