<h1>Add Booking</h1>



<p *ngIf="!booking"><em>Loading...</em></p>

<div *ngIf="booking">
  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  <form>
    <div>      
      <div class="form-group">

        <label>Room</label>
        <select [(ngModel)]="selectedRoom" id="roomSelect" name="roomSelectName" class="form-control">
          <option *ngFor="let room of allRooms" [value]="room.id" >{{room.number}}</option>
        </select>

      </div>

      <div class="form-group">
        <label>Start Date</label>
        <input type="date" [(ngModel)]="booking.startDate" name="startDate" placeholder="Start Date" class="form-control"/>
      </div>
      <div class="form-group">
        <label>End Date</label>
        <input type="date" [(ngModel)]="booking.endDate" name="endDate" placeholder="End Date" class="form-control"/>

      </div>
      <div class="form-group">
        <label>Used Places</label>
        <input [(ngModel)]="booking.usedPlaces" name="usedPlaces" placeholder="Used Places" class="form-control"/>
      </div>
    </div>

    <button (click)="addBooking(booking)" class="btn btn-primary">Add</button>
  </form>
</div>
